This project requires Python, Numpy, Pytorch to be installed. I used Python 3.13.0,
Numpy 2.2.2, and Pytorch 2.5.1 for my environment; it is recommended you get the
latest versions available.

* Python: <https://www.python.org/>
* Numpy: <https://numpy.org/>
* Pytorch: <https://pytorch.org/>

/* TODO: add other modules if used */